<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h2>EDIT SUBJECT</h2><br><br>
    <form action="/subject/edit/<%=subdata.id%>" method="POST">
    Subject Name:<br>
    <input type="text" name="subjectname" value="<%=subdata.subject_name%>">
    <br><br>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
