<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h2>ADD TEACHER</h2><br><br>
    <form action="/teacher/add" method="POST">
    First Name:<br>
    <input type="text" name="firstname" value="">
    <br><br>
    Last Name:<br>
    <input type="text" name="lastname" value="">
    <br><br>
    Email:<br>
    <input type="text" name="email" value="">
    <br><br>
    Subject:<br>
    <select name="SubjectId">
      <% subjectData.forEach(data =>{ %>
        <option value="<%= data.id %>"selected>
          <%= data.subject_name %>
      </option>
     <% }) %>

    </select>



    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
